@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To My Asp.Net Web MVC Project</h3>
    <h5> Click <a asp-controller="Home" asp-action="Saini">on this link</a> or the 'Saini' option in the navigation bar to visit my portfolio.</h5>
</div>
